body {
  /* Base Styles and Layout */
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: clamp(16px, 2vw, 18px);
  line-height: 1.5;

  margin: 0;

  background-color: gray;
}

a, a:visited {
  text-decoration: none;
  
  color: brown;
}

nav ul {
  margin-bottom: auto;
}

.top-bar {
  text-align: center;

  background-color: aqua;
}

.site-title {
  font-size: 30px;

  margin: 0;
  padding: 0.5em;
}

.main-nav ul {
  padding-left: 0;

  margin: auto;

  list-style: none;
}

.main-nav a, .secondary-nav a {
  display: block;
  padding: 1em 1em;

}

.main-nav ul a:hover {
  color: #b00;

  background-color: cadetblue;
  box-shadow: 0 0 6px rgba(35, 173, 278, 1)
}

.main-nav ul li {
  background-color: lightgray;
}

.banner-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 60vh;

  margin: 0;

  background: url('../images/banner.jpg'),
  linear-gradient(#2193b0, #6dd5ed);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: hard-light;

  font-family: 'Reem Kufi Fun', Arial, Helvetica, cursive;
  font-size: clamp(64px, 10vw, 128px);

  color: red;
}

main {
  /* Content Area */
  max-width: 40ch;

  flex: auto;

  margin: 1em auto;

}

footer {
  /* Footer Area */
  background-color: cyan;
}

footer p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  padding: 0.5em;
}

.footer-area {
  /* Main Flexbox */
  display: flex;
  flex-direction: column;

  text-align: center;
}

.bottom-socials {
  /* Bottom Logo and Socials Flexbox */
  display: flex;
  flex-direction: column;
}

.bottom-logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  /* Social Links */
  width: 25px;
}

.fa:hover {
  opacity: 0.7;
}

.secondary-nav ul {
  /* Secondary Navigation */
  list-style: none;
  padding-left: 0px;
}

.map {
  /* Google Maps */
  padding: 0.5em;
}

@media only screen and (min-width: 41.5em) {
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-title {
    padding: 0 0.5em;
  }

  .main-nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-area {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: auto;

    max-width: 800px;
  }

  .bottom-logo-title p {
    margin: auto;
  }
}